<div class='row margin-bottom'>
  <a href="registerPlayer.html">
    <div class='col-xs-6 white-border-right' style="background-color: #5EAB73; color:#FFFFFF; text-align: center;">
      <div class="row">
        <div class="col-xs-12">
            <h4 class="center"><i class="fa fa-user-plus" aria-hidden="true"></i></h4>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
            <h5 class="center pinballfont">NEW PLAYER</h5>
        </div>
      </div>
    </div>
  </a>
  <a href="registerScore.html">
    <div class='col-xs-6 white-border-left' style="background-color: #5EAB73; color:#FFFFFF; text-align: center;">
      <div class="row">
        <div class="col-xs-12">
            <h4 class="center"><i class="fa fa-plus" aria-hidden="true"></i></h4>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
            <h5 class="center pinballfont">NEW SCORE</h5>
        </div>
      </div>
    </div>
  </a>
</div>
