@import url('https://fonts.googleapis.com/css?family=Iceland');

.navbar-top {
	background: transparent; 
	color: rgba(255,255,255,.25); 
	text-align: center;
	margin: 0;
}


  #container {
	width: 500px;
	margin: auto;
  }
  
  /*Neon*/
  p {
	text-align: center;
	font-size: 7em;
	margin: 0 0 10px 0;
	letter-spacing: .2em;
	display: inline-block;
	width: 100%;
  }
  
  a {
	text-decoration: none;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
  }
  
  p:nth-child(1) a {
	font-size: 1.5em;
	color: #eee;
	font-family: Iceland;
	-webkit-animation: neon1 1.5s ease-in-out infinite alternate;
	-moz-animation: neon1 1.5s ease-in-out infinite alternate;
	animation: neon1 1.5s ease-in-out infinite alternate;
  }
  
  p:nth-child(1) a:hover {
	color: #FF9900;
	-webkit-animation: none;
	-moz-animation: none;
	animation: none;
  }
  
  
  p a:hover {
	color: #eee;
  }
  /*glow for webkit*/
  
  @-webkit-keyframes neon1 {
	from {
	  text-shadow: 0 0 10px #eee, 0 0 20px #eee, 0 0 30px #eee, 0 0 40px #FF9900, 0 0 70px #FF9900, 0 0 80px #FF9900, 0 0 100px #FF9900, 0 0 150px #FF9900;
	}
	to {
	  text-shadow: 0 0 5px #eee, 0 0 10px #eee, 0 0 15px #eee, 0 0 20px #FF9900, 0 0 35px #FF9900, 0 0 40px #FF9900, 0 0 50px #FF9900, 0 0 75px #FF9900;
	}
  }

  /*glow for mozilla*/
  
  @-moz-keyframes neon1 {
	from {
	  text-shadow: 0 0 10px #eee, 0 0 20px #eee, 0 0 30px #eee, 0 0 40px #FF9900, 0 0 70px #FF9900, 0 0 80px #FF9900, 0 0 100px #FF9900, 0 0 150px #FF9900;
	}
	to {
	  text-shadow: 0 0 5px #eee, 0 0 10px #eee, 0 0 15px #eee, 0 0 20px #FF9900, 0 0 35px #FF9900, 0 0 40px #FF9900, 0 0 50px #FF9900, 0 0 75px #FF9900;
	}
  }

  /*glow*/
  
  @keyframes neon1 {
	from {
	  text-shadow: 0 0 10px #eee, 0 0 20px #eee, 0 0 30px #eee, 0 0 40px #FF9900, 0 0 70px #FF9900, 0 0 80px #FF9900, 0 0 100px #FF9900, 0 0 150px #FF9900;
	}
	to {
	  text-shadow: 0 0 5px #eee, 0 0 10px #eee, 0 0 15px #eee, 0 0 20px #FF9900, 0 0 35px #FF9900, 0 0 40px #FF9900, 0 0 50px #FF9900, 0 0 75px #FF9900;
	}
  }
  /*REEEEEEEEEEESPONSIVE*/
  
  @media (max-width: 650px) {
	#container {
	  width: 100%;
	}
	p {
	  font-size: 3.5em;
	}
  }