<nav class="bottom-nav">
    <a routerLink="/index" routerLinkActive="active" class="bottom-nav__action" href="#">
      <svg class="bottom-nav__icon" viewBox="0 0 24 24">
          <path d="M9,19V13H11L13,13H15V19H18V10.91L12,4.91L6,10.91V19H9M12,2.09L21.91,12H20V21H13V15H11V21H4V12H2.09L12,2.09Z" />
      </svg>
      <span class="bottom-nav__label">Home</span>
    </a>
  
    <a routerLink="/score" routerLinkActive="active" class="bottom-nav__action bottom-nav__action--active" href="#">
      <svg class="bottom-nav__icon" viewBox="0 0 24 24">
          <path d="M19,13H13V19H11V13H5V11H11V5H13V11H19V13Z" />
      </svg>
      <span class="bottom-nav__label">New score</span>
    </a>
  
    <a routerLink="/user" routerLinkActive="active" class="bottom-nav__action" href="#">
      <svg class="bottom-nav__icon" viewBox="0 0 24 24">
          <path d="M12,4A4,4 0 0,1 16,8A4,4 0 0,1 12,12A4,4 0 0,1 8,8A4,4 0 0,1 12,4M12,14C16.42,14 20,15.79 20,18V20H4V18C4,15.79 7.58,14 12,14Z" />
      </svg>
      <span class="bottom-nav__label">User</span>
    </a>
  </nav>